html {
  //  overflow: scroll;
//    overflow-x: hidden;
}


::-webkit-scrollbar-thumb:window-inactive {
   width: 0px;
   background: transparent; 
}


::-webkit-scrollbar {
    optacity:0.5;
    margin-top:80px;
    width: 5px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    background:  #d9edf7;
    height:30px;
    optacity:0.5;
}

::-webkit-scrollbar-track{
 
 // background:  #4478d2;
    height:50px; 
}


::-webkit-scrollbar-button       { 
  //background:  #4478d2;
 }





