.img-404{
  

  max-width:30vw;
}


.footer-fix{
//      padding-right: 250px;
  //  padding-left: 250px;
}

.ms-live-tab{
  margin-top:58px;
}


.ms-md-lg-text-left{
	
	text-align: left!important;
}



.ms-md-lg-text-right{
	
	text-align: right!important;
}